@import url('https://fonts.googleapis.com/css?family=Numans');

body {
    background-image: url('/Content/Images/p.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.card {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header {
    padding: 20px 0;
}

.card-body {
    padding: 20px;
}

.card-footer {
    padding: 20px 0;
}

    .card-footer .links a {
        color: white; 
        margin-left: 5px;
    }

        .card-footer .links a:hover {
            color: #FFC312; 
        }

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: none;
    box-shadow: none;
}
