@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Pagina de Registro</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <div>
                        <img src="~/Content/Images/Logos/logopetmap.png" style="width: 100%"></img>
                    </div>
                </div>
                <div class="card-body">
                    <form id="loginForm" action="@Url.Action("Registrar","Acceso")" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="Correo" name="Correo" class="form-control" placeholder="Correo">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="Clave" name="Clave" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="ConfirmarClave" name="ConfirmarClave" class="form-control" placeholder="Confirmar Contraseña">
                        </div>
                        <div class="form-group">
                            <button type="button" id="submitBtn" class="btn float-right login_btn">Registrarme</button>
                        </div>
                    </form>
                </div>
                <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
                    complete todos los campos.
                </div>
                @if (ViewData["mensaje"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        correo ya existe
                    </div>
                }
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Ya tienes cuenta?<a style="color: #FFC312;" href="@Url.Action("Login", "Acceso")">Iniciar Sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submitBtn').click(function () {
                if ($('#Correo').val() == "" || $('#Clave').val() == "" || $('#ConfirmarClave').val() == "") {
                    $('#errorAlert').fadeIn().delay(3000).fadeOut();
                } else {
                    $('#loginForm').submit();
                }
            });
        });
    </script>
</body>
</html>
